/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c28;
    color: #e0e0e0;
}

/* Navigation */
header {
    background-color: #2b2b3b;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header nav .logo a {
    color: #ff6f91;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
}

/* Anime Details Section */
.anime-details {
    max-width: 1600px;
    margin: 50px auto;
    background-color: #2b2b3b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in;
}

.anime-details h1 {
    font-size: 2.5rem;
    color: #ff6f91;
    margin-bottom: 20px;
    text-align: center;
}

.anime-details img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.anime-details p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 20px 0;
}

.anime-details strong {
    color: #ff6f91;
}

/* Characters Section */
.anime-details h2 {
    font-size: 2rem;
    color: #ff6f91;
    margin: 30px 0 20px;
}

#characterList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    list-style-type: none;
}

#characterList li {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
}

#characterList li img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#characterList li p {
    font-size: 0.9rem;
    color: #e0e0e0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2b2b3b;
    color: white;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
button{
background-color: #ff6f91;
color: white;
border: none;
padding: 5px 5px;
font-size: 1rem;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
margin:3px;
}
/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
